{% block choice_widget_expanded %}
    {% spaceless %}
        <div class="form-group">
            <label for="exampleInputFile">Feature</label>

            <div class="form-group">
                {% for group_label, group in choices %}
                    <label for="exampleInputFile">{{ group_label }}</label>
                    <div class="row checkbox">
                        {% for key, choice in group %}
                            <div class="col-md-4">
                                <label>
                                    {{ form_widget(form[key]) }}
                                    {{ form_label(form[key]) }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>


        </div>

    {% endspaceless %}
{% endblock %}

{% block app_space_price_widget %}
    {% spaceless %}
        <div class="form-group">
            <label for="exampleInputFile">Price</label>
            <div class="row checkbox">
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" value="" class="price-daily">
                        Daily
                    </label>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.daily,{'attr':{'class':'form-control','placeholder':'Price / Day'}}) }}
                </div>
            </div>
            <div class="row checkbox">
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" value="" class="price-weekly">
                        Weekly Discount
                    </label>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.weeklyDiscount,{'attr':{'class':'form-control','placeholder':'% Discount'}}) }}
                </div>
            </div>
            <div class="row checkbox">
                <div class="col-md-3">
                    <label>
                        <input type="checkbox" value="" class="price-monthly">
                        Monthly Discount
                    </label>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.monthlyDiscount,{'attr':{'class':'form-control','placeholder':'% Discount'}}) }}
                </div>
            </div>

        </div>

    {% endspaceless %}
{% endblock %}
{% block app_space_date_booking_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="inputError1">Available from</label>
                    {{ form_widget(form.dateFrom,{'attr':{'class':'form-control datepicker','placeholder':''}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="inputWarning2">Available to</label>
                    {{ form_widget(form.dateTo,{'attr':{'class':'form-control datepicker','placeholder':''}}) }}
                </div>
            </div>
            {{ form_widget(form.blockedDateBookings) }}
        </div>

    {% endspaceless %}
{% endblock %}
