{% extends 'AppBundle::layout.html.twig' %}
{% block content %}


    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

                    <div class="light-gray-bg section">
                        <div class="container">
                            <!-- filters start -->
                            <div class="sorting-filters text-center mb-20">
                                <form class="form-inline form-filter-list-space" method="get">
                                    <div class="form-group" style="">
                                        <label>FIlters</label>
                                        <select name="status-space" class="form-control">
                                            <option value="">Allsssssssssssss ss</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- filters end -->
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-1">
                            {% for booking in  bookings%}
                                {% set space = booking.space %}
                                <div class="listing-item mb-20">
                                    <div class="row grid-space-0">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="overlay-container">
                                                {% if space.spaceImage %}
                                                    <img src="{{ getUrl(space.spaceImage) }}" alt="">
                                                {% else %}
                                                    <img src="{{ asset('bundles/app/images/product-1.jpg') }}" alt="">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="body">
                                                <h3 class="margin-clear"><a
                                                            href="shop-product.html">{{ space.name }}</a></h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <span style="font-size: 12px">{{ space.location.squareFeet }} sqft</span>
                                                        <span style="font-size: 12px">{{ getTypeSpace(space.location.typeSpace) }}</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star"></i>
                                                </p>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-6"><span class="">Booking ID: 1143434</span></div>
                                                    <div class="col-sm-6"><span class="">Total cost: $1989</span></div>
                                                </div>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-6"><span class="">Check-in:  Jun 6th,2016</span></div>
                                                    <div class="col-sm-6"><span class="">Payment: Jessica Justica</span></div>
                                                </div>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-6"><span class="">Check-out:  Jun 6th,2016</span></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="space-enabled" style="text-align: right;"><strong>Active</strong></div>
                                            <div style="margin-bottom: 60px;text-align: right;">Book on Jun 1st,2016</div>
                                            <input style="text-align: right;"
                                                   type="button" value="Book Again"
                                                   class="margin-clear btn btn-default pull-right">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if bookings|length %}
                        <nav class="text-right">
                            {{ pagerfanta(bookings) }}
                        </nav>
                    {% endif %}
                </div>

                <!-- sidebar start -->
                {% include 'AppBundle:User:_nav.html.twig' %}
                <!-- ================ -->


            </div>
        </div>
    </section>

{% endblock %}