<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <style>
        .invoice-box{
            max-width:800px;
            margin:auto;
            padding:30px;
            border:1px solid #eee;
            box-shadow:0 0 10px rgba(0, 0, 0, .15);
            font-size:16px;
            line-height:24px;
            font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color:#555;
        }

        .invoice-box table{
            width:100%;
            line-height:inherit;
            text-align:left;
        }

        .invoice-box table td{
            padding:5px;
            vertical-align:top;
        }

        .invoice-box table tr td:nth-child(2){
            text-align:left;
        }

        .invoice-box table tr.top table td{
            padding-bottom:20px;
        }

        .invoice-box table tr.top table td.title{
            font-size:45px;
            line-height:45px;
            color:#333;
        }

        .invoice-box table tr.information table td{
            padding-bottom:40px;
        }

        .invoice-box table tr.heading td{
            background:#eee;
            border-bottom:1px solid #ddd;
            font-weight:bold;
        }

        .invoice-box table tr.details td{
            padding-bottom:20px;
        }

        .invoice-box table tr.item td{
            border-bottom:1px solid #eee;
        }

        .invoice-box table tr.item.last td{
            border-bottom:none;
        }

        .invoice-box table tr.total td:nth-child(2){
            border-top:2px solid #eee;
            font-weight:bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td{
                width:100%;
                display:block;
                text-align:center;
            }

            .invoice-box table tr.information table td{
                width:100%;
                display:block;
                text-align:center;
            }
        }
    </style>
</head>

<body>
{% set space = booking.space %}
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td class="title">
                            <img style="width:100%; max-width:300px;" src="{{ app.request.schemeAndHttpHost }}{{ asset('bundles/app/images/zonpace-logo.png') }}">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td style="text-align: right;">
                            {{ app.user.firstName ~' '~app.user.lastName }}<br>
                            Email: {{ app.user.email }}<br>
                            {{ app.user.city.name ~', '~app.user.state.name }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Date
            </td>

            <td>
                Booking Details
            </td>
            <td>
                Payment Method
            </td>
            <td>
                Amount
            </td>
        </tr>

        <tr class="item">
            <td>
                {{ booking.createdAt|date('M d, Y') }}
            </td>

            <td>
                {{ space.name }}<br>
                {{ space.location.squareFeet }} sqft, {{ getTypeSpace(space.location.typeSpace) }}<br>
                Booking ID: {{ booking.id }}<br>
                Check-in: {{ booking.dateFrom|date('M d, Y') }}<br>
                Check-out: {{ booking.dateTo|date('M d, Y') }}<br>
            </td>
            <td>
                Credit Card
            </td>
            <td>
                ${{ booking.totalPrice }}
            </td>
        </tr>
    </table>
</div>
</body>
</html>