{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle:form:space_fields_step2.html.twig' %}
{% block content %}

    <section class="main-container" data-space-create-step2="">

        <div class="container">
            <div class="row">
                <div class="main col-md-6">
                    <ul class="nav nav-pills" role="tablist">
                        <li class=""><a href="#pill-pr-1" role="tab" data-toggle="tab" title="Step 1"
                                        aria-expanded="false"><i class="fa fa-dot-circle-o pr-5"></i>Location</a></li>
                        <li class="active"><a href="#pill-pr-2" role="tab" data-toggle="tab" title="Step 2"
                                              aria-expanded="false"><i class="fa fa-dot-circle-o pr-5"></i><strong>Space
                                    Detail</strong></a></li>
                        <li class=""><a href="#pill-pr-3" role="tab" data-toggle="tab" title="Step 3"
                                        aria-expanded="true"><i class="fa fa-dot-circle-o pr-5"></i> Review Your
                                Space</a></li>
                        <li class=""><a href="#pill-pr-3" role="tab" data-toggle="tab" title="Step 3"
                                        aria-expanded="true"><i class="fa fa-dot-circle-o pr-5"></i> Activate</a></li>
                    </ul>
                    <h3>Space Detail</h3>
                    <form role="form" id="form-space" method="post" enctype="multipart/form-data">
                        {{ form_row(form._token) }}

                        <!--info------------------------------------------------------------------------------------------>
                        <div class="form-group">
                            <label class="control-label">Name of Space</label>
                            {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'Name of Space'}}) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess1">Desription</label>
                            {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Example: Apt, Suite, Bldg, etc'}}) }}
                        </div>

                        <!--file------------------------------------------------------------------------------------------>
                        <hr class="divider">
                        <div class="form-group">
                            <label for="space-image">Photos</label>
                            <input type="file" id="space-image" name="app_space_upload[image][binaryContent]"
                                   data-href="{{ path('app_user_space_upload_image',{'space':space.id}) }}"/>
                        </div>
                        <div class="row wrap-img-space">
                            {% for galleryHasMedia in space.photo.galleryHasMedias %}
                                <div class="col-md-4" style="margin-top: 2px">
                                    <img src="{{ getUrl(galleryHasMedia.media) }}">
                                </div>
                            {% endfor %}

                        </div>

                        <!--price------------------------------------------------------------------------------------------>
                        <hr class="divider">
                        {{ form_widget(form.price) }}

                        <!--feature------------------------------------------------------------------------------------------>
                        <hr class="divider">
                        {{ form_widget(form.features) }}

                        <!--instant book------------------------------------------------------------------------------------------>
                        <hr class="divider">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.instantBook) }}
                                Instant Booking
                            </label>
                        </div>

                        <!--callendar------------------------------------------------------------------------------------------>
                        <hr class="divider">
                        {{ form_widget(form.dateBooking) }}
                        <div style="font-size: 11px;margin-bottom: 20px;color: red">( You must add available date for booking your space )</div>
                        <div id="mini-clndr">

                        </div>
                        <script id="mini-clndr-template" type="text/template">

                            <div class="controls">
                                <div class="clndr-previous-button">&lsaquo;</div>
                                <div class="month"><%= month %></div>
                                <div class="clndr-next-button">&rsaquo;</div>
                            </div>

                            <div class="days-container">
                                <div class="days">
                                    <div class="headers">
                                        <% _.each(daysOfTheWeek, function(day) { %>
                                        <div class="day-header"><%= day %></div>
                                        <% }); %>
                                    </div>
                                    <% _.each(days, function(day) { %>
                                    <div class="<%= day.classes %>" id="<%= moment(day.date).format('YYYY-MM-DD') %>">
                                        <%= day.day %>
                                    </div>
                                    <% }); %>
                                </div>
                                <div class="events">
                                    <div class="headers">
                                        <div class="x-button">x</div>
                                        <div class="event-header">EVENTS</div>
                                    </div>
                                    <div class="events-list">
                                        <% _.each(eventsThisMonth, function(event) { %>
                                        <div class="event">
                                            <a href="<%= event.url %>"><%= moment(event.date).format('MMMM Do') %>: <%=
                                                event.title %></a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>

                        </script>

                        <!--load shape------------------------------------------------>
                        {{ form_widget(form.shape) }}

                        <!--button------------------------------------------------------------------------------------------>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-default">Next</button>
                            </div>
                            <div class="col-md-6 back-link">
                                <a href='{{ path('app_user_space_create',{'step':1,'space':space.id}) }}' class="pull-right">Back
                                    to Location</a>
                            </div>
                        </div>


                    </form>

                </div>
                <div class="col-md-6">
                    <div class="map" id="map_in"></div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}