


{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <section class="main-container create-space-step" data-booking-space="" data-paging-ajax="">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" value="{{ space.shape }}" id="app_space_space_shape">
                    <div class="map " id="map"></div>
                </div>
                <div class="col-md-6">
                    <h3 class="margin-clear"><a
                                href="shop-product.html">{{ space.name }}</a></h3>
                    <div class="row">
                        <div class="col-md-8">
                            <span style="font-size: 12px">{{ space.location.squareFeet }} sqft</span>
                            <span style="font-size: 12px">{{ getTypeSpace(space.location.typeSpace) }}</span>
                        </div>
                    </div>
                    <p>
                        {{ getRatingSpace(space,1) }}
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>${{ space.price.daily }}</strong><br>Per Day
                        </div>
                        <div class="col-md-4">
                            <strong>${{ (space.price.daily*7)-((space.price.daily*7*space.price.weeklyDiscount)/100) }}</strong><br>Per
                            Day
                        </div>
                        <div class="col-md-4">
                            <strong>${{ (space.price.daily*30)-((space.price.daily*30*space.price.monthlyDiscount)/100) }}</strong><br>Per
                            Day
                        </div>
                    </div>
                    <hr class="divider">
                    <form method="post" class="booking-step-0 check-date-available" data-url-check-date="{{ path('app_user_booking_check_available_booking',{'space':space.id}) }}">
                        {{ form_row(form._token) }}
                        <div style="font-weight: bold;color: red;">Choice of Space</div>
                        {{ form_widget(form.bookingType) }}
                        {{ form_widget(form.dateFrom,{'attr':{'class':'datepicker'}}) }}
                        {{ form_widget(form.dateTo,{'attr':{'class':'datepicker'}}) }}
                        <div class="available" style="color: red;">

                        </div>
                        <div>
                            {{ space.instantBook == true ? 'Instant Book' }}
                        </div>
                        <hr class="divider">
                        <div><button type="submit" class="btn btn-default btn-submit">Booking Now</button></div>
                    </form>
                </div>

            </div>
        </div>
        {{ render(controller('AppBundle:Front/Mgmt/PublicRetrieval:detailSpace',{'space':space.id})) }}
    </section>

{% endblock %}