

{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <section class="main-container create-space-step" data-booking-space="" data-paging-ajax="">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% set shape = booking.isPlot ? booking.spaceShape:space.shape  %}
                    <input type="hidden" value="{{ shape }}" id="app_space_space_shape">
                    <div class="map " id="map"></div>
                </div>
                <div class="col-md-6">
                    <h3 class="margin-clear"><a
                                href="shop-product.html">{{ space.name }}</a></h3>
                    <div class="row">
                        <div class="col-md-8">
                            <span style="font-size: 12px">{{ space.location.squareFeet }} sqft</span>
                            <span style="font-size: 12px">{{ getTypeSpace(space.location.typeSpace) }}</span>
                        </div>
                    </div>
                    <p>
                        {{ getRatingSpace(space,1) }}
                    </p>
                    <div class="row">
                        {% set priceDaily = booking.isPlot == true ? booking.spacePriceDaily: space.price.daily %}
                        {% set weeklyDiscount = booking.isPlot ? booking.spaceWeeklyDiscount: space.price.weeklyDiscount %}
                        {% set monthlyDiscount = booking.isPlot ? booking.spaceMonthlyDiscount: space.price.monthlyDiscount %}
                        <div class="col-md-4">
                            <strong>$<span class="price-per-day">{{ priceDaily }}</span></strong><br>Per Day
                        </div>
                        <div class="col-md-4">
                            <strong>$<span class="price-per-week">{{ (priceDaily*7)-((priceDaily*7*weeklyDiscount)/100) }}</span></strong><br>Per
                            Day
                        </div>
                        <div class="col-md-4">
                            <strong>$<span class="price-per-day">{{ (priceDaily*30)-((priceDaily*30*monthlyDiscount)/100) }}</span></strong><br>Per
                            Day
                        </div>
                    </div>
                    <hr class="divider">
                    <form method="post" class="booking-step-1 check-date-available"  data-url-check-date="{{ path('app_user_booking_check_available_booking',{'space':space.id}) }}">
                        {{ form_row(form._token) }}
                        <div class="wrap-form">
                            <div style="font-weight: bold;color: red;">Choice of Space</div>
                            {{ form_widget(form.bookingType,{'attr':{'class':''}}) }}
                            {{ form_widget(form.dateFrom,{'attr':{'class':'datepicker'}}) }}
                            {{ form_widget(form.dateTo,{'attr':{'class':'datepicker'}}) }}
                            {{ form_widget(form.bookingPeriod,{'attr':{'class':''}}) }}
                            <p style="font-size: 9px;">( Please contact host for more information about available date )</p>
                        </div>

                        <div class="available" style="color: red;">
                        </div>
                        <div>
                            {{ space.instantBook == true ? 'Instant Book' }}
                        </div>

                        <hr class="divider">
                        <div><strong>Subtotal : $<span class="price">{{ booking.totalPrice }}</span> </strong></div>
                        <hr class="divider">
                        <div><strong>Total : $<span class="price">{{ booking.totalPrice }}</span> </strong></div>

                        <hr class="divider">
                        <div><button type="submit" class="btn btn-default btn-submit">{{ space.instantBook ? 'Next':'Request for booking' }}</button></div>
                    </form>
                </div>

            </div>
        </div>
        {{ render(controller('AppBundle:Front/Mgmt/PublicRetrieval:detailSpace',{'space':space.id})) }}
    </section>

{% endblock %}