{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<div class="cat_container">
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div id="oval">Tip & Advice</div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div id="oval">Home Improvement</div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div id="oval">Market Trends</div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div id="oval">Celebrity Real Estate</div>
    </div>
</div>
<div>
    <div>
        <img class="blog_bg_img" src="{{asset('bundles/app/main/images/bg-blog.png')}}">
        <h4 class="blog_bg_text">12 WAYS TO BRING <br/> YOUR OUTDOOR CONCERT TO LIFE</h4>
    </div>
    <div class="bg_text_below">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt
        ut labore et doloe magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod por incididunt ut labore et doloe magna.
    </div>
    <div class="cat_container">
        <div id="rectangle"><a href="{{ path('app_front_post_detail',{'type':'blog','slug': 'blog1'}) }}">Read Full Article</a></div>
    </div>
</div>
<div class="blog_post_container">
    <div class="blog_one_post col-md-12">
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>

    </div>
    <div class="blog_one_post col-md-12">
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>

    </div>
    <div class="blog_one_post col-md-12">
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="load_more_btn">Load More Posts</div>
    </div>
</div>
<div class="blog_post_container">
    <h2 style="margin-left: 34px;margin-bottom: -15px;color: red;">Most Viewed Articles</h2>
    <div class="blog_one_post col-md-12">
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>

    </div>
    <div class="blog_one_post col-md-12">
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>
        <div class="col-md-4">
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
            <h3>How to host a relaxing outdoor party</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
            <div class="bl_post_categories">
                Categories :
                <a href="#">Home Improvement</a>
                ,
                <a href="#">Market Trends</a>

            </div>
        </div>

    </div>
</div>
{% endblock %}