{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="bl_detail_bg">
        <div>
            <img class="blog_bg_img" src="{{asset('bundles/app/main/images/bg-blog.png')}}">
        </div>
        <div class="bl_detail_text_container">
            <h2>12 ways to bring your outdoor concert to life</h2>
            <p>
                I’ve never really felt compelled to “tell my story,” but now I do.

                I’ve had what most people would assume was a relatively average life, as a middle class white girl who was raised in an affluent town. I’ve always had food on the table, I smile often, and I am viewed by most as a generally “positive” person who is pleasant to be around.

                However, most people don’t know what I’ve been battling beneath all of that.
                I want to start by saying that a huge reason I want to write this is that — for one of the first times in my adult years — I am feeling a sustained sense of ease and lightness, or what some may call “happiness.” That might sound crazy for a 32-year old, but the reality is that I have battled severe, debilitating bouts of depression for as long as I can remember. I’ve always had good days, but inevitably I return to a state of dire misery (if it isn’t already just there, laying beneath the surface).

                My depression is defined by extreme loneliness, self-doubt, insatiable analysis, and the struggle to understand why staying on this earth is the best for me and for everyone. The scariest part for me, though, isn’t actual fear that I would end my life. Somehow or another, I’ve almost always known that simply was NOT an option. I am lucky in that regard.

                The scary part is that my depression has always encouraged me to withdraw from others. And despite how I feel today, I really don’t know if I’m going to stay on this upward spiral that I believe I’m on, but I am doing doing my damnedest to make sure of it.
            </p>
            <div class="bl_post_detail_categories">
                <div class="col-md-12">
                    <div class="col-md-6 col-xs-6">
                        <div>
                            Categories :
                            <a href="#">Home Improvement</a>
                            ,
                            <a href="#">Market Trends</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div style="text-align: right">Dec 14th, 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block_user_comment"></div>
    <div class="bl_post_detai_container">
        <h2 style="margin-left: 34px;margin-bottom: -15px;color: red;">Related Articles</h2>
        <div class="blog_one_post col-md-12">
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>

        </div>
        <div class="blog_one_post col-md-12">
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>
            <div class="col-md-4">
                <img class="blog_bg_img" src="{{asset('bundles/app/main/images/Untitled-2.png')}}">
                <h3>How to host a relaxing outdoor party</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod por incididunt ut labore et doloe magna.</p>
                <div class="bl_post_categories">
                    Categories :
                    <a href="#">Home Improvement</a>
                    ,
                    <a href="#">Market Trends</a>

                </div>
            </div>

        </div>
    </div>

{% endblock %}