
    <div class="row">
        {% for listing in listings %}
            <div class="col-md-6">
                <div class="row">
                    {% if listing.photo.galleryHasMedias.count ==1 %}
                        {% set galleryHasMedia = listing.photo.galleryHasMedias[0] %}
                        <img class="center-block" src="{{ getUrl(galleryHasMedia.media,'default','big') }}">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6">{{ listing.name }}</div>
                    <div class="col-md-6"><span
                                class="pull-right">{{ listing.location.state.name }}</span></div>
                </div>
                <hr class="divider">
                <div class="row">
                    <div class="col-md-6">{{ listing.description }}</div>
                    <div class="col-md-6"><span class="pull-right">View Space</span></div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if listings|length %}
    <div class="row">
    <div class="col-lg-12">
    {{ pagerfanta(listings,'ajax',{'routeName':'app_front_list_space_ajax','routeParams':{'user':user.id}}) }}
    </div>
    </div>
    {% endif %}

