<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Menu</h3>
            <div class="separator-2"></div>
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ path('app_user_user_control_profile') }}">Profile</a></li>
                    <li><a href="blog-large-image-right-sidebar.html">My Bookings</a></li>
                    <li><a href="portfolio-grid-2-3-col.html">Wishlist</a></li>
                    <li><a href="page-contact.html">Inbox</a></li>
                    <li><a href="page-contact.html">Payment Methods</a></li>
                    <li><a href="page-contact.html">Verifications</a></li>
                    <li><a href="{{ path('app_user_user_control_setting') }}">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="block clearfix">
            <h3 class="title">Host</h3>
            <div class="separator-2"></div>
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ path('app_user_default') }}">Dashboard</a></li>
                    <li><a href="{{ path('app_user_space_list') }}">Manage Listings</a></li>
                    <li><a href="{{ path('app_user_space_create',{'step':1}) }}">Create Listing</a></li>
                    <li><a href="portfolio-grid-2-3-col.html">Manage Bookings</a></li>
                    <li><a href="page-about.html">Reviews On My Listings</a></li>
                    <li><a href="page-contact.html">Payment Methods</a></li>
                    <li><a href="page-contact.html">Transaction History</a></li>
                </ul>
            </nav>
        </div>
    </div>
</aside>
<!-- sidebar end -->