{% extends 'AppBundle::layout.html.twig' %}
{% block content %}


    <section class="main-container" data-list-space="">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">


                    <div class="row">
                        <div class="col-md-12">
                            <!-- filters start -->
                            <form class="form-filter-list-space" method="get">
                                <div class="row">
                                    <div class="col-md-3 col-sm-offset-6">
                                        <div class="form-group">
                                            <label>Type Space</label>
                                            <select name="type-space" class="form-control type-space">
                                                <option value="">All</option>
                                                {% set typeSpaces = getTypeSpaces() %}
                                                {% for key,typeSpace in typeSpaces %}
                                                    <option {{ app.request.get('type-space')==key ? 'selected' }} value="{{ key }}">{{ typeSpace }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select name="status-space" class="form-control status-space">
                                                <option value="">All</option>
                                                {% set statusSpaces = getStatusSpaces() %}
                                                {% for key,statusSpace in statusSpaces %}
                                                    <option {{ app.request.get('status-space')==key ? 'selected' }} value="{{ key }}">{{ statusSpace }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- filters end -->
                        </div>
                    </div>
                    <hr class="divider">
                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-1">
                            {% for space in  spaces %}
                                <div class="listing-item mb-20">
                                    <div class="row grid-space-0">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="overlay-container">
                                                {{ getImageSpace(space,150,150)}}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="body">
                                                <h3 class="margin-clear"><a
                                                            href="shop-product.html">{{ space.name }}</a></h3>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <span style="font-size: 12px">{{ space.location.squareFeet }} sqft</span>
                                                        <span style="font-size: 12px">{{ getTypeSpace(space.location.typeSpace) }}</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star text-default"></i>
                                                    <i class="fa fa-star"></i>
                                                </p>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-6"><span class="">Total Views: 11</span></div>
                                                    <div class="col-sm-6"><span class="">Total Reviews:  $150.00</span>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-6"><span class="">Total Booking: $150.00</span>
                                                    </div>
                                                    <div class="col-sm-6"><span
                                                                class="">Total Gross Earning: $150.00</span></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="space-enabled"><strong>{{ space.enabled ? 'Enabled':'Disabled'  }}</strong></div>
                                            <input onclick="window.location.href='{{ path('app_user_host_control_reviewed_space',{'space':space.id}) }}'" type="button" value="Review"
                                                   class="margin-clear btn btn-default btn-custom">
                                            <input onclick="window.location.href='{{ path('app_user_space_view',{'space':space.id}) }}'"
                                                   type="button" value="Manage"
                                                   class="margin-clear btn btn-default btn-custom">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if spaces|length %}
                        <nav class="text-right">
                            {{ pagerfanta(spaces) }}
                        </nav>
                    {% endif %}
                </div>

                <!-- sidebar start -->
                {% include 'AppBundle:User:_nav.html.twig' %}
                <!-- ================ -->


            </div>
        </div>
    </section>

{% endblock %}